/* Style sheet */


.past {
    background-color: #ff0000;
    color: white;
  }
  
  .present {
    background-color: #61f4ff;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  .saveBtn {
      background-color:rgb(121, 120, 121);
  }

  .color {
      color: rgb(136, 127, 255);
  }
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgb(2, 69, 252);
    opacity: 1; /* Firefox */
    font-size: small;
    
  }

  ::placeholder:hover {
    color: rgb(158, 158, 158);
    opacity: 1; /* Firefox */
    font-size: large;
  }

  input, textarea {
    background-color: transparent;
    
  }

  .save {
    background-color: #EA0028;
    background-image: linear-gradient(180deg, #FF9A8B 0%, #EA0028 100%);
    transition: all .5s ease-out;
    background-size: 1px 100px;
    background-position: 0 -10px;
  }

  .save:hover {
    background-position: 1px -150px;

  }

  input[type="text"]
  {
      font-size:24px;
      color: black;
      text-decoration: underline;
      text-shadow: #000000;
  }

  .border {
    color:rgb(2, 69, 252);
    font-display: dashed;
  }

